@use "../abstracts" as *;
@use "../paths" as *;

.page-banner {
  position: relative;
  z-index: 0;
  background-image: url(#{$theme-root}/images/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 217px 0 235px;
  margin: 21px 20px 0;
  border-radius: 28px;
  @include sm {
    padding: 125px 0 178px;
  }
  @include xs {
    padding: 123px 0 174px;
  }
  @include vxs {
    padding: 114px 0 160px;
  }
  @include vxs {
    padding: 81px 0 132px;
  }
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: -29%;
  //   left: 0;
  //   width: 100%;
  //   height: 1118px;
  //   background-image: url(#{$theme-root}/images/aero/layers/bg-layer2.png);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   z-index: -1;
  //   @include ml {
  //     height: 400px;
  //   }
  //   @include vxs {
  //     background-size: contain;
  //     top: -28%;
  //   }
  // }
}
.page-content {
  position: relative;
  text-align: center;
  max-width: 877px;
  margin: 0 auto;
  @include ms {
    padding: 0 20px;
  }
  .title {
    font-size: 80px;
    line-height: 90px;
    font-weight: 400;
    //color: var(--white);
    letter-spacing: -0.03em;
    margin-bottom: 0;
    @include lg {
      font-size: 62px;
      line-height: 64px;
    }
    @include smd {
      font-size: 49px;
      line-height: 50px;
    }
    @include xs {
      font-size: 39px;
      line-height: 45px;
    }
    @include vxs {
      font-size: 34px;
      line-height: 44px;
    }
    @include ms {
      font-size: 31px;
      line-height: 41px;
    }
  }
}
.breadcrumbs {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--light-sage);
  padding: 35px 82px 26px;
  border-radius: 0 25px 0 25px;
  @include sm {
    padding: 27px 55px 21px;
  }
  @include vxs {
    padding: 20px 53px 12px;
  }
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(#{$theme-root}/images/layers/rounded-corner-breadcrumb.png);
    z-index: 99;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 20px;
    height: 20px;
    background-image: url(#{$theme-root}/images/layers/rounded-corner-breadcrumb.png);
    z-index: 99;
  }
  li {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    color: var(--body);
    &:nth-child(4) {
      color: #c5c5c5;
      margin: 0 3px;
    }
    &:nth-child(2) {
      margin: 0 3px;
    }
    &:last-child {
      @include ms {
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
      }
    }
    a {
      color: var(--body);
      border-bottom: 1px solid var(--body);
      &:hover {
        color: var(--deep-teal);
        border-bottom: 1px solid var(--deep-teal);
      }
    }
  }
  .items {
    color: #c5c5c5;
    margin: 0 3px;
  }
}
