@use "../paths" as *;

$header-condense: 1300px;
$header-actions-compact: 1100px;
$header-mobile: 1000px;
$header-mini: 390px;

// Large round button
// Cart, Account, Login
.ibt-btn {
  cursor: pointer;
  font-family: var(--font-secondary);
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2);
  letter-spacing: var(--letter-spacing-b2);
  font-weight: var(--f-medium);
  display: inline-flex;
  gap: 15px;
  height: 3.8rem;
  padding: 13px 26px;
  justify-content: center;
  align-items: center;
  background: var(--color-surface-light-3);
  color: var(--body);
  border-radius: var(--radius-lg);
  border: none;
  position: relative;
  white-space: nowrap;
  transition: var(--transition-1);
  i[class="icon-arrow-top"],
  span[class="icon-arrow-top"] {
    text-indent: 0.8em;
    font-size: 10px;
    line-height: 1.1;
    position: relative;
    padding-right: 1px;
    overflow: hidden;

    &::before,
    &::after {
      transition: var(--transition-1);
    }

    &::after {
      content: "\e830";
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      display: inline-block;
      text-decoration: inherit;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      position: absolute;
      right: 0;
      transform: translateX(-110%) translateY(200%);
    }
  }

  &:hover {
    background: var(--black);
    color: var(--white);

    i[class="icon-arrow-top"],
    span[class="icon-arrow-top"] {
      &::before {
        transform: translateX(100%) translateY(-170%);
      }

      &::after {
        transform: translateX(-1px) translateY(1px);
      }
    }
  }

  // button outline
  &.ibt-btn-outline {
    background: transparent;
    border: 2px solid transparent;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: var(--radius-lg);
      transition: var(--transition-1);
    }
    &::before {
      content: "";
      position: absolute;
      padding: 2px; /* border ki width */
      border-radius: 12px;
      //background: linear-gradient(90deg, #45d0bd, #44b6e9);
      background: var(--forest-green);
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
    }
    &::after {
      //background: var(--gradient-3);
      background: var(--forest-green);
      opacity: 0;
    }
    > * {
      position: relative;
      z-index: 1;
    }
    &:hover {
      color: var(--white);

      &::after {
        opacity: 1;
      }
    }
  }
  // button rounded
  &.ibt-btn-rounded {
    border-radius: var(--radius-4xl);
    padding: 13px 45px;
    &.ibt-btn-outline,
    &.ibt-btn-outline-2,
    &.ibt-btn-outline-3 {
      &::before,
      &::after {
        border-radius: var(--radius-4xl);
      }
    }
  }
  @media (max-width: 1300px) {
    height: 2.8rem;
  }
}



// Base logo styles
.logo img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0.6rem;
  //transform: scale(1.1) translateX(0.7rem);
}
// header.sticky-active {
//   .logo img {
//     transform: scale(.95);
//   }
// }

// Default state (black visible)
.logo {
  img.logo-black { display: inline; }
  img.logo-white { display: none; }
}

// Variant: white header
header.csv-header-absolute.white {
  .logo {
    img.logo-black { display: none; }
    img.logo-white { display: inline; }
  }
}

// Relative positioned top nav
header.csv-header-standard {
  background-color: #fff;
  position: relative;
  z-index: 2;
  .header-menu-area {
    //border: 1px solid #CCCCCC;
    //background-color: unset;
    border-radius: 1.47rem;
    @media (max-width: $header-mobile) {
      border: 0;
    }
    .popup-search {
      margin-right: .94rem;
    }
  }
}

// Full width hero header with overlapping top nav
header.csv-header-absolute {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  .header-menu-area {
    background-color: unset;
    .popup-search {
      margin-right: .94rem;
    }
  }
  // .popup-search {
  //   color: var(--white);
  // }
  // .main-menu {
  //   > ul {
  //     > li {
  //       > a {
  //         color: var(--white);
  //         &::before {
  //           filter: brightness(9);
  //         }
  //         &:hover {
  //           background-color: var(--black);
  //         }
  //       }
  //       &.menu-has-items.active {
  //         > a {
  //               background: var(--black);
  //           }
  //       }
  //     }
  //   }
  // }
  .sticky-active.is-sticky {
    .header-menu-area {
      background-color: var(--white);
    }
    .active {
      color: var(--white);
      &::before{
        background-color: var(--white);
      }
    }
    a {
      color: var(--body);
      &::before {
        background-color: var(--body);
      }
      &:hover {
        color: var(--white);
        &::before{
            background-color: var(--white);
        }
      }
    }
  }
  // .hamburger {
  //   span {
  //     background-color: var(--white);
  //   }
  // }
}

.logged-in {
  header.csv-header-absolute {
    top: 1.88rem;
  }
  header.sticky-active.is-sticky {
    top: 1.88rem;
  }
}

// Full width hero header for dark backgrounds
header.csv-header-absolute.white {
  .header-menu-area {
    background-color: unset;
    border-color: #454545;
    @media (max-width: $header-mobile) {
      background-color: unset;
    }
    .logo-group {
      img {
        filter: invert(1);
      }
    }
    .hamburger {
      span {
        background-color: #fff;
      }
    }
  }
  a {
    color: var(--white);
  }
  .main-menu {
    > ul {
      > li {
        > a {
          color: var(--white);
          &:hover {
            background-color: #1e0f02;
          }
          &::before {
            filter: brightness(9);
          }
        }
        > .active {
          background-color: var(--black);
        }
      }
    }
  }
}

.main-menu {
  position: relative;
  min-width: 0;
  @media (max-width: $header-mobile) {
    display: none;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    > li {
      padding: .71rem 0;
      margin: 0 .29rem 0 0;
      &.no-sub-menu {
        a {
          padding: 0 1.41rem;
          &::before {
            display: none;
          }
        }
      }
      > a {
        position: relative;
        display: block;
        overflow: hidden;
        font-size: .82rem;
        font-weight: 700;
        line-height: 40px;
        text-transform: uppercase;
        color: var(--body);
        padding: 0 2.47rem 0 1.29rem;
        height: 40px;
        //border-radius: 10px;
        border-radius: .29rem;
        transition: all 0.3s ease;
        &::before {
          content: "";
          position: absolute;
          bottom: .88rem;
          right: 1.24rem;
          width: 6.63px;
          height: 6.97px;
          background-image: url(#{$theme-root}/images/icons/arrow.svg);
          background-repeat: no-repeat;
          background-size: cover;
          transition: background-color 0.3s ease;
          background-color: unset !important;
        }
        span {
          display: block;
          white-space: nowrap;
          transition: all 300ms ease;
        }
        &:hover {
          background: rgb(221 223 204 / 44%);
          .menu-item {
            transform: translateY(-38px);
          }
          .menu-item2 {
            transform: translateY(-40px);
          }
        }
      }
      // Active state styling
      > .active {
        // background-color: var(--black);
        // color: var(--white);
        background-color: rgb(221 223 204 / 44%);
        color: var(--body);
        &::before {
          filter: brightness(9);
        }
        &:hover {
          background-color: rgb(221 223 204 / 44%);
        }
      }
    }
    li {
      &:hover {
        > .mega-sub-menu,
        .sub-menu {
          opacity: 1;
          visibility: visible;
          transform: translate(0, 0);
        }
      }
      .mega-sub-menu,
      .sub-menu {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 10px);
        transition: opacity 200ms ease-in, transform 200ms ease-in, visibility 200ms ease-in;
        z-index: 999;
        border-radius: 1.18rem;
        background: var(--black);
        border: 0;
        padding: 2.35rem 2.65rem 2.35rem 2.94rem;
        position: absolute;
        top: 100%;
        width: max-content;
        max-width: none;
        display: flex;
        justify-content: space-between;
        .mega-menu-column {
          margin: 0;
          &:first-child {
            display: flex;
          }
          a {
            img {
              border-radius: 1.18rem;
            }
          }
          ul {
            width: 220px;
            li {
              margin: 0 0 0 0;
              a {
                color: whitesmoke;
                font-size: 1.00rem;
                text-transform: none;
                text-decoration: none;
                font-weight: 400;
                text-align: left;
                margin: 0 0 0 0;
                padding: .59rem 1.18rem .59rem 0;
                // vertical-align: top;
                display: block;
                transition: all 0.3s ease;
                border: 0;
                &::before{
                  content: "\e841";
                  font: 400 normal 10px / 10px "fontello";
                  line-height: 25.5px;
                  bottom: .47rem;
                  position: absolute;
                  display: block;
                  left: 0;
                  right: initial;
                  width: 16px;
                  opacity: 0;
                  color: var(--white);
                  transition: all 0.3s ease;
                  background-color: unset !important;
                }
                &::after {
                  content: "\f107";
                  font-family: "Font Awesome 5 Free";
                  font-weight: 900;
                  font-size: .65rem;
                  color: var(--white);
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: 0;
                  opacity: 0;
                  visibility: hidden;
                  transition: all 300ms ease;
                }
                &:hover {
                  padding-left: 1.18rem;
                  color: var(--deep-teal);
                  background-color: unset;
                  &::before{
                    opacity: 1;
                    color: var(--deep-teal);
                  }
                }
              }
              .active {
                padding-left: 1.18rem;
                color: var(--deep-teal);
                background-color: unset !important;
                &::before{
                  opacity: 1;
                  visibility: visible;
                  color: var(--deep-teal);
                }
              }
            }
          }
        }
      }
      .sub-menu {
        display: block;
        width: 286px;
        margin-top: .29rem;
        li {
          margin: 0;
          &.menu-has-items.active {
            > a {
              padding-left: 1.18rem;
              color: #45d0bd !important;
              background-color: unset;
              &::before {
                opacity: 1;
                color: #45d0bd !important;
              }
              &::after {
                color: var(--deep-teal);
              }
            }
          }
          a {
            position: relative;
            color: var(--white) !important;
            font-size: 1.00rem;
            text-transform: none;
            text-decoration: none;
            font-weight: 400;
            text-align: left;
            margin: 0 0 0 0;
            padding: .59rem 1.18rem .59rem 0;
            // vertical-align: top;
            display: block;
            transition: all 0.3s ease;
            border: 0;
            &:hover {
              padding-left: 1.18rem;
              color: #45d0bd !important;
              &::before {
                opacity: 1;
                color: var(--deep-teal);
              }
            }
            &::before{
              content: "\e841";
              font: 400 normal 10px / 10px "fontello";
              line-height: 25.5px;
              bottom: .47rem;
              position: absolute;
              display: block;
              left: 0;
              right: initial;
              width: 16px;
              opacity: 0;
              transition: opacity 0.4s;
              color: var(--white);
              transition: all 0.3s ease;
              background-color: unset !important;
            }
            &::after{
              content: "\f107"; 
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              font-size: .59rem;
              color: var(--white);
              opacity: 0;
              visibility: hidden;
            }
          }
          .active {
            padding-left: 1.18rem;
            color: #45d0bd !important;
            background-color: unset !important;
            &::before {
              opacity: 1;
              visibility: visible;
              color: var(--deep-teal);
            }
          }
          &.menu-has-items {
            > a:after {
              opacity: 1;
              visibility: visible;
            }
          }
          &:hover {
            > .sub-menu {
              opacity: 1;
              visibility: visible;
            }
            > a {
              &::after {
                content: '\f105';
                color: var(--deep-teal);
              }
            }
          }
          > .sub-menu {
            opacity: 0;
            visibility: hidden;
            left: 100%;
            margin-left: 2.76rem;
          }
        }
      }
    }
  }
  .inner-menu {
    position: relative;
    transition: all 300ms ease;
    &:hover{
      &::before{
        content: '\f105';
        color: var(--deep-teal);
        background-color: unset;
      }
    }
    > .mega-sub-menu {
      left: 100%;
      opacity: 0;
      visibility: hidden;
      width: 250px !important;
      margin-left: 2.94rem;
    }
  }
}

.header-menu-area {
  position: relative;
  //background-color: #FFFFFF;
  border-radius: 1rem;
  padding: .8rem 1.7rem;
  > .flex.items-center.justify-between {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    align-items: center;
    column-gap: 1.12rem;
  }
  .header-logo {
    width: 100%;
    max-width: 17rem;
    min-width: 0;
    @media (max-width: 1200px) and (min-width: 1150px)  {
      max-width: 15rem;
    }
    @media (max-width: 1149px) and (min-width: 1001px)  {
      max-width: 13rem;
    }
    @media (max-width: 480px) {
      max-width: 14rem;
    }
  }
  .logo {
    display: block;
    width: 100%;
  }
  transition: all 0.3s ease;
  // Legacy responsive block replaced with direct media queries.
}

.sticky-active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  background-color: var(--white);
  border-radius: 0 0 .7rem .7rem;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  will-change: transform;
  z-index: 99999;
  margin: 0 .7rem;
  @media (max-width: $header-mobile) {
    margin: 0;
    padding: 0 .94rem 0 1.18rem;
    border-radius: 0;
  }
  .header-menu-area {
    transform: translateY(-100%);
    opacity: 1;
    transition: transform 0.45s ease-in-out;
    margin-top: 0;
    border: 0;
  }
}
.sticky-active.is-sticky {
  transform: translateY(0);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  .header-menu-area {
    transition-delay: 0.2s;
    transform: translateY(0);
  }
}
.sticky-active.is-sticky.is-hidden {
  transform: translateY(-110%);
  box-shadow: none;
  transition-delay: 0s;
  .header-menu-area {
    transform: translateY(0%);
    transition-delay: 0s;
  }
}
.sticky-active:not(.is-sticky) {
  .header-menu-area {
    transition-delay: 0s;
    transform: translateY(0%);
  }
  transform: translateY(-100%);
  transition-delay: 0.2s;
}

@media (prefers-reduced-motion: reduce) {
  .sticky-active,
  .sticky-active .header-menu-area {
    transition: none;
  }
}

.hamburger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .29rem;
  border: 0;
  outline: none !important;
  padding: 0;
  background-color: unset;
  display: none;
  @media (max-width: $header-mobile) {
    display: inline-block;
  }
  span {
    display: block;
    width: 26px;
    height: 2px;
    cursor: pointer;
    text-align: center;
    background: var(--body);
    margin-bottom: .29rem;
    transform-origin: right center;
    transition: transform 220ms ease, opacity 220ms ease;
  }
  span:nth-child(3) {
    transform: scaleX(0.38);
  }
  &:hover {
    span:nth-child(1) {
      transform: scaleX(1.12);
    }
    span:nth-child(2) {
      transform: scaleX(0.86);
    }
    span:nth-child(3) {
      transform: scaleX(1.12);
    }
  }
}

.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 111111;
  button[type="submit"] {
    background-color: unset;
    color: var(--body);
    border: none;
    border-radius: .35rem;
    cursor: pointer;
    transition: background 0.3s;
    outline: none;
    padding: 0;
    font-size: 1.29rem;
  }
  button[type="submit"]:hover {
    background: linear-gradient(to bottom, #45D0BD, #44B6E9);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  input {
    width: 100%;
    padding: 0;
    padding: 0 0 0 3.53rem;
    height: 25px;
    line-height: 25px;
    border: 0;
    border-radius: .35rem;
    margin-right: .59rem;
    font-size: .94rem;
    font-family: var(--font-secondary);
    text-transform: capitalize;
    color: #919191;
    &::placeholder{
      color: #919191;
    }
    @media (max-width: $header-mini) {
      padding: 0 0 0 1.76rem;
    }
  }
}
.search-popup.active {
  opacity: 1;
  visibility: visible;
  z-index: 9999999999;
}
.search-popup-content {
  padding: 2.06rem 5.88rem 2.00rem 2.82rem;
  width: 100%;
  z-index: 9999;
  background-color: var(--white);
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.4s ease;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  form {
    display: flex;
    align-items: center;
  }
}
.search-popup.active {
  .search-popup-content {
    transform: scaleY(1);
    opacity: 1;
  }
}

.popup-search {
  position: relative;
  color: var(--body);
  font-size: 1.00rem;
  transition: all 0.3s ease;
  margin-right: 1.76rem;
  @media (max-width: $header-mobile) {
    display: none;
  }
  &:hover {
    background: linear-gradient(to bottom, #45D0BD, #44B6E9);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.close-popup {
  position: absolute;
  top: 2.24rem;
  right: 2.06rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none !important;
  &::before{
    content: '\e803';
    font: 400 normal 16px / 16px 'fontello';
    color: var(--body);
    font-size: 1.18rem;
  }
}
.close-popup:hover {
  background: linear-gradient(to bottom, #45D0BD, #44B6E9);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-box {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  .ibt-btn {
    @media (max-width: $header-mobile) {
      display: none;
    }
  }
}

.login-btn {
  position: relative;
  font-size: .82rem;
  line-height: 27px;
  font-weight: 700;
  // color: var(--white);
  //display: inline-block;
  text-transform: uppercase;
  margin-right: 1.3rem;
  transition: all 0.3s ease;
  @media (max-width: $header-mobile) {
    display: none;
  }
  i {
    margin-right: .59rem;
  }
  &:hover {
    //color: #45D0BD;
    color: var(--forest-green);
    // background: linear-gradient(to bottom, #45D0BD, #44B6E9);
    // background-clip: text;
    // color: var(--white);

  }
}

.login-btn-checkout {
  position: relative;
  font-size: .82rem;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 1.3rem;
  transition: all 0.3s ease;
  i {
    margin-right: .59rem;
  }
  &:hover {
    color: var(--forest-green);
  }
}

.sticky-active {
  .header-menu-area {
    padding-top: .71rem;
    padding-bottom: .53rem;
    @media (max-width: $header-mobile) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
header.csv-header-standard {
  padding-left: 0.0rem;
  padding-right: 0.0rem;
  @media (max-width: 1000px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .header-menu-area {
    padding-left: .8rem;
    padding-right: .8rem;
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: $header-mobile) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 1.06rem;
      padding-bottom: 1.06rem;
      margin-top: 0;
    }
  }
}
header.csv-header-absolute {
  padding-left: 1.53rem;
  padding-right: 33px;
  padding-top: .53rem;
  .header-menu-area {
    padding-left: 0;
    padding-right: 0;
    @media (max-width: $header-mobile) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 1.06rem;
      padding-bottom: 1.06rem;
    }
  }
  @media (max-width: $header-mobile) {
    padding-left: 1.06rem;
    padding-right: 18px;
  }
}

@media (max-width: $header-condense) and (min-width: 1001px) {
  .header-logo {
    max-width: 15.5rem;
  }

  .header-menu-area {
    padding: .94rem .88rem 1.00rem;
    > .flex.items-center.justify-between {
      column-gap: .71rem;
    }
  }

  .main-menu {
    > ul {
      > li {
        margin-right: .12rem;
        &.no-sub-menu {
          a {
            padding: 0 .8rem;
          }
        }
        > a {
          font-size: .76rem;
          padding: 0 1.65rem 0 .82rem;
          &::before {
            right: .82rem;
          }
        }
      }
    }
  }

  .btn-box {
    .ibt-btn {
      padding: .65rem 1.12rem;
    }
  }

  .login-btn {
    font-size: .76rem;
    margin-right: 1.06rem;
  }

  header.csv-header-standard {
    padding-left: 0;
    padding-right: 0;
    .header-menu-area {
      padding-left: .71rem;
      padding-right: .71rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  header.csv-header-absolute {
    padding-left: .94rem;
    padding-right: .94rem;
  }

  .sticky-active {
    .header-menu-area {
      padding-left: .71rem;
      padding-right: .71rem;
    }
  }
}

@media (max-width: $header-actions-compact) and (min-width: 1001px) {
  .header-menu-area {
    > .flex.items-center.justify-between {
      column-gap: .47rem;
    }
  }

  .btn-box {
    gap: .35rem;
  }

  .login-btn {
    margin-right: .47rem;
    display: inline-flex;
    align-items: center;
  }

  .btn-box a {
    i {
      margin-right: 0;
    }
    i + span {
      display: none;
    }
  }

  .btn-box .ibt-btn {
    min-width: auto;
    height: 2.12rem;
    min-height: 2.12rem;
    padding: 0 .88rem;
    line-height: 1.1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.cart {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: $header-mobile) {
  .header-logo {
    max-width: 14rem;
  }

  .header-menu-area {
    padding-right: 2.82rem;
    > .flex.items-center.justify-between {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }

  .btn-box {
    display: none;
  }
}
