@use "../abstracts" as *;

.logo-group {
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  column-gap: 10px;
  img {
    width: 66px;
    height: 72px;
  }
  .logo-text-block {
    .logo-text {
      font-family: var(--font-primary);
      font-weight: 400;
      font-size: 24px;
      line-height: 1em;
      letter-spacing: 0.3em;
      text-transform: uppercase;
    }
    .logo-sub-text {
      font-family: var(--font-secondary);
      font-weight: 400;
      line-height: 1em;
      letter-spacing: 0.13em;
      font-size: 16px;
    }
    .logo-location {
      display: inline-flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 8px;
      margin-top: 3px;
      &::before,
      &::after {
        content: "";
        display: block;
        width: 14px;
        height: 1px;
        background-color: currentColor;
        opacity: 0.7;
      }
      &::before {
        margin-right: 10px;
      }
      &::after {
        margin-left: 10px;
      }
      span {
        display: inline-block;
        transform: translateX(4px); /* half of letter-spacing */
      }
    }
  }
}
@media (max-width: 767px) {
  .logo-group {
    width: 195px;
    column-gap: 5px;
    img {
      width: 50px;
      height: 58px;
      position: relative;
      top: -2px;
    }
    .logo-text-block {
      .logo-text {
        font-size: 22px;
      }
      .logo-sub-text {
        font-size: 15px;
      }
      .logo-location {
        font-size: 13px;
        margin-top: 3px;
        &::before,
        &::after {
          width: 9px;
          height: 1px;
        }
        &::before {
          margin-right: 10px;
        }
        &::after {
          margin-left: 10px;
        }
        span {
          display: inline-block;
          transform: translateX(4px);
        }
      }
    }
  }
}
