#scrollBtn {
  display: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 60px;
  height: 60px;
  font-size: 13px;
  text-align: center;
  line-height: 70px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  border-radius: 50%;
  z-index: 9999999;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  transition: 200ms ease;
}
#scrollBtn:hover {
  // background-color: var(--black);
  // background-image: linear-gradient(
  //   90deg, #45d0bd, #44b6e9
  // );
  background-color: var(--white);
  color: var(--black);
  // box-shadow: 2px 2px 7px 2px rgb(0 0 0 / 14%);
  border: 1px solid var(--black);
}

#themeBtn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: #1a1a1a;
  color: var(--white);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border: 0;
  outline: none;
  display: inline-block;
  //display: none;
  z-index: 99999;
  padding: 0;
  @media (max-width: 980px) {
    display: none;
  }
}

//////////////////////////////////////////////////
/////// Primary & Secondary Button Styles ////////
//////////////////////////////////////////////////

// OG button class
.csv-btn,
// Forminator buttons
.forminator-button.forminator-button-submit,
// LearnDash buttons
.learndash-wrapper #learndash-registration-wrapper #learndash_registerform #wp-submit,
.learndash-wrapper #learndash-reset-password-wrapper #learndash_registerform #wp-submit,
#learndash-registration-wrapper input[type=submit],
#learndash-registration-wrapper .button.button-primary,
#learndash-registration-wrapper .button.button-primary.button-large,
#learndash-reset-password-wrapper input[type=submit],
#learndash-reset-password-wrapper .button.button-primary,
#learndash-reset-password-wrapper .button.button-primary.button-large,
.learndash-wrapper #learndash-registration-wrapper form input[type=submit],
.learndash-wrapper #learndash-reset-password-wrapper form input[type=submit],
// WooCommerce buttons
.single-product button.button.single_add_to_cart_button,
.wc-block-components-button,
.wc-block-components-checkout-return-to-cart-button,
.woocommerce-MyAccount-content .edit,
.woocommerce-Button.button,
.woocommerce button.button,
.woocommerce a.button,
button[type=submit].woocommerce-Button.woocommerce-Button--alt.button.alt,
.browse-retreats {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.3125rem;
  border: 2px solid transparent;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  transition:
    box-shadow 220ms ease,
    background-color 240ms ease,
    color 100ms ease,
    border-color 240ms ease;
  &:focus-visible,
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
  &.small {
    padding: .6rem 1rem;
    font-size: .8rem;
  }
}

// OG button class - Primary
.csv-btn--primary,
// Forminator buttons
.forminator-button.forminator-button-submit,
// LearnDash buttons
.learndash-wrapper #learndash-registration-wrapper #learndash_registerform #wp-submit,
.learndash-wrapper #learndash-reset-password-wrapper #learndash_registerform #wp-submit,
#learndash-registration-wrapper input[type=submit],
#learndash-registration-wrapper .button.button-primary,
#learndash-registration-wrapper .button.button-primary.button-large,
#learndash-reset-password-wrapper input[type=submit],
#learndash-reset-password-wrapper .button.button-primary,
#learndash-reset-password-wrapper .button.button-primary.button-large,
.learndash-wrapper #learndash-registration-wrapper form input[type=submit],
.learndash-wrapper #learndash-reset-password-wrapper form input[type=submit],
// WooCommerce buttons
.single-product button.button.single_add_to_cart_button,
.wc-block-components-button,
.browse-retreats {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
  &:hover {
    // background-color: var(--black);
    // background-image: linear-gradient(
    //   90deg, #45d0bd, #44b6e9
    // );
    //color: var(--white);
    background-color: #fff;
    color: var(--white);
    //box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.12);
  }
}

// OG button class - Secondary
.csv-btn--secondary,
// WooCommerce buttons
.wc-block-components-checkout-return-to-cart-button,
.woocommerce-MyAccount-content .edit,
.woocommerce-Button.button,
.woocommerce button.button,
.woocommerce a.button,
button[type=submit].woocommerce-Button.woocommerce-Button--alt.button.alt {
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: var(--white);
  color: var(--black);
  border-color: var(--black);
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    //background-image: linear-gradient(90deg, #45d0bd, #44b6e9);
    background-color: #000;
    opacity: 0;
    transition: opacity 240ms ease;
    z-index: -1;
  }
  &:hover {
    color: var(--white);
    //box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.12);
    &::after {
      opacity: 1;
    }
  }
  &:hover,
  &:hover * {
    color: var(--white);
  }
}
 
// Large round button
// Cart, Account, Login
.ibt-btn {
  cursor: pointer;
  font-family: var(--font-secondary);
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2);
  letter-spacing: var(--letter-spacing-b2);
  font-weight: var(--f-medium);
  display: inline-flex;
  gap: 15px;
  height: 65px;
  padding: 13px 26px;
  justify-content: center;
  align-items: center;
  background: var(--color-surface-light-3);
  color: var(--body);
  border-radius: var(--radius-lg);
  border: none;
  position: relative;
  white-space: nowrap;
  transition: var(--transition-1);
  i[class="icon-arrow-top"],
  span[class="icon-arrow-top"] {
    text-indent: 0.8em;
    font-size: 10px;
    line-height: 1.1;
    position: relative;
    padding-right: 1px;
    overflow: hidden;

    &::before,
    &::after {
      transition: var(--transition-1);
    }

    &::after {
      content: "\e830";
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      display: inline-block;
      text-decoration: inherit;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      right: 0;
      transform: translateX(-110%) translateY(200%);
      -webkit-transform: translateX(-110%) translateY(200%);
      -ms-transform: translateX(-110%) translateY(200%);
    }
  }

  &:hover {
    background: var(--black);
    color: var(--white);

    i[class="icon-arrow-top"],
    span[class="icon-arrow-top"] {
      &::before {
        transform: translateX(100%) translateY(-170%);
        -webkit-transform: translateX(100%) translateY(-170%);
        -ms-transform: translateX(100%) translateY(-170%);
      }

      &::after {
        transform: translateX(-1px) translateY(1px);
        -webkit-transform: translateX(-1px) translateY(1px);
        -ms-transform: translateX(-1px) translateY(1px);
      }
    }
  }

  // button outline
  &.ibt-btn-outline {
    background: transparent;
    border: 2px solid transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: var(--radius-lg);
      transition: var(--transition-1);
    }

    &::before {
      content: "";
      position: absolute;
      padding: 1px; /* border ki width */
      border-radius: 12px;
      background: linear-gradient(90deg, #4875c8, #7061c8);
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    &::after {
      background: var(--gradient-btn-1);
      opacity: 0;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &.ibt-btn-outline-2 {
    background: transparent;
    border: 2px solid transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: var(--radius-lg);
      transition: var(--transition-1);
    }

    &::before {
      content: "";
      padding: 1.5px;
      background: var(--gradient-1);
      -webkit-mask:
        linear-gradient(#ffffff 0 0) content-box,
        linear-gradient(#ffffff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }

    &::after {
      background: var(--gradient-1);
      opacity: 0;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    &:hover {
      color: var(--body);

      &::after {
        opacity: 1;
      }
    }
  }

  &.ibt-btn-outline-3 {
    background: transparent;
    border: 2px solid transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: var(--radius-lg);
      transition: var(--transition-1);
    }

    &::before {
      content: "";
      position: absolute;
      padding: 2px; /* border ki width */
      border-radius: 12px;
      //background: linear-gradient(90deg, #45d0bd, #44b6e9);
      background: var(--forest-green);
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    &::after {
      //background: var(--gradient-3);
      background: var(--forest-green);
      opacity: 0;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    &:hover {
      color: var(--white);

      &::after {
        opacity: 1;
      }
    }
  }

  // button colors
  &.ibt-btn-secondary {
    background: var(--color-secondary);
    color: var(--white);
    position: relative;
    overflow: hidden;
    i[class="icon-arrow-top"],
    span[class="icon-arrow-top"] {
      text-indent: 1.3em;
      margin-left: 41px;
    }

    &:hover {
      background: var(--color-secondary-alt);
    }
  }

  &.ibt-btn-dark {
    background: var(--black);
    color: var(--white);
    position: relative;
    overflow: hidden;

    > * {
      position: relative;
      z-index: 1;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: var(--gradient-btn-1);
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  // button rounded
  &.ibt-btn-rounded {
    border-radius: var(--radius-4xl);
    padding: 13px 45px;
    &.ibt-btn-outline,
    &.ibt-btn-outline-2,
    &.ibt-btn-outline-3 {
      &::before,
      &::after {
        border-radius: var(--radius-4xl);
      }
    }
  }
  &.small {
    height: 40px;
    padding: 19px 24px;
    font-size: 14px;
    margin-bottom: 7px;
    &:hover {
      color: #fff;
    }
  }
}