node_modules/
dist/
.vite/

.env
.env.*

.DS_Store
Thumbs.db
.gitkeep

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/

src/public/
src/styles/abstracts/_breakpoints.scss
src/styles/abstracts/_functions.scss.scss
src/styles/abstracts/_maps.scss
/components/
src/styles/aero/
images/
woocommerce-templates/
learndash/ld30-templates/