@use "../paths" as *;

.active-btn {
  background-color: var(--white) !important;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    background-image: url(#{$theme-root}/images/aero/icon/sun.svg);
    transition: all 0.3s ease;
  }
  i {
    opacity: 0;
    visibility: hidden;
  }
}

.active-body {
  background-color: var(--black);
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    color: var(--white) !important;
  }
  #preloader {
    background-color: var(--black);
    img {
      filter: brightness(9) !important;
    }
  }
  .sec-title {
    span {
      color: var(--white);
      &::before,
      &::after {
        color: var(--white);
      }
    }
  }
  ul {
    li {
      &::before {
        background-color: var(--white);
      }
    }
  }
  .sticky-active.is-sticky {
    background-color: #1a1a1a;
    .header-menu-area {
      background-color: unset;
      .logo-group {
        img {
          filter: invert(1);
        }
      }
    }
    a {
      color: var(--white);
    }
    .main-menu {
      > ul {
        > li {
          > a {
            color: var(--white);
            &:hover {
              background-color: var(--black);
            }
            &::before {
              filter: brightness(9);
            }
          }
          > .active {
            background-color: var(--black);
          }
        }
      }
    }
  }
  .sticky-active {
    background-color: #1a1a1a;
    .header-menu-area {
      background-color: unset;
    }
  }
  .csv-header-standard {
    @media (max-width: 1201px) {
      background-color: var(--black);
    }
    .header-menu-area {
      background-color: unset;
      border-color: #454545;
      @media (max-width: 1201px) {
        background-color: unset;
      }
      .logo-group {
        img {
          filter: invert(1);
        }
      }
    }
    a {
      color: var(--white);
    }
    .main-menu {
      > ul {
        > li {
          > a {
            color: var(--white);
            &:hover {
              background-color: var(--black);
            }
            &::before {
              filter: brightness(9);
            }
          }
          > .active {
            background-color: var(--black);
          }
        }
      }
    }
  }
  .csv-header-absolute {
    .header-menu-area {
      background-color: unset;
      border-color: #454545;
      @media (max-width: 1201px) {
        background-color: unset;
      }
      .logo-group {
        img {
          filter: invert(1);
        }
      }
    }
    a {
      color: var(--white);
    }
    .main-menu {
      > ul {
        > li {
          > a {
            color: var(--white);
            &:hover {
              background-color: var(--black);
            }
            &::before {
              filter: brightness(9);
            }
          }
          > .active {
            background-color: var(--black);
          }
        }
      }
    }
  }
  .ibt-btn.ibt-btn-outline {
    color: var(--white) !important;
  }
  .shape {
    &::before {
      background-image: url(#{$theme-root}/images/aero/layers/shape1-4-dark.png);
    }
  }
  .shape3 {
    &::before {
      background-image: url(#{$theme-root}/images/aero/layers/shape1-4-dark2.png);
    }
  }
  .breadcrumbs {
    background-color: var(--black);
    &::before,
    &:after {
      background-image: url(#{$theme-root}/images/aero/layers/corner3-dark.png);
      transform: rotate(90deg);
    }
    li {
      color: var(--white);
      a {
        color: var(--white);
      }
    }
  }
  .neural-playground {
    &::before {
      background-image: url(#{$theme-root}/images/aero/layers/eclips3-dark.png);
      background-repeat: no-repeat;
      transform: rotate(180deg);
      width: 710px;
    }
  }
  .shape4 {
    background-color: var(--black);
    &::before {
      background-image: url(#{$theme-root}/images/aero/layers/corner3-dark3.png);
    }
    &::after {
      background-image: url(#{$theme-root}/images/aero/layers/corner3-dark3.png);
    }
  }
  .shape2 {
    background-color: var(--black);
    &::before {
      background-image: url(#{$theme-root}/images/aero/layers/corner3-dark3.png);
    }
    &::after {
      background-image: url(#{$theme-root}/images/aero/layers/corner3-dark3.png);
    }
  }
  .hamburger {
    span {
      background-color: var(--white);
    }
  }
  .search-popup-content {
    background-color: #1a1a1a;
    .close-popup {
      &::before {
        color: var(--white);
      }
    }
  }
  .search-popup {
    input {
      color: var(--white);
      &::placeholder {
        color: var(--white);
      }
    }
    button {
      color: var(--white) !important;
    }
  }
  .page-header {
    background-image: none;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="date"],
  textarea {
    color: var(--white);
  }
}
