@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Tailwind layers or custom utilities here. */

@layer base {
  html {
    font-size: 17px;
  }

  body {
    font-size: 1rem;
    line-height: 1.7;
  }
}

@layer components {

  .card {
    @apply bg-white rounded-2xl shadow-sm p-6;
  }

  .section {
    @apply py-16 md:py-20;
  }
}
