/**
 * _fonts.scss
 * Custom WooCommerce fonts.
 */
@use "../abstracts" as *;
@use "../paths" as *;

@font-face {
	font-family: 'star';
	src: url('#{$theme-root}/fonts/WooCommerce.woff2') format('woff2'),
	     url('#{$theme-root}/fonts/WooCommerce.woff') format('woff'),
	     url('#{$theme-root}/fonts/WooCommerce.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WooCommerce';
	src: url('#{$theme-root}/fonts/WooCommerce.woff2') format('woff2'),
	     url('#{$theme-root}/fonts/WooCommerce.woff') format('woff'),
	     url('#{$theme-root}/fonts/WooCommerce.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
