section {
 .content {
  a {
    color: var(--link-color);
    &:hover {
      color: #004aff;
      text-decoration: underline;
    }
  }
 }
}

main {
  z-index: 0;
  position: relative;
}
section {
  position: relative;
  z-index: 100;
}
section#preparation {
  position: relative;
  z-index: 0;
}
